#nearestBV .distance {
    color: #888;
    float: left;
    font-size: smaller;
    padding-right: 10px;
    padding-top: 2px;
    text-align: right;
    width: 50px;
}

#nearestBV .distance:before {
    content: "<";
    font-size: smaller;
    padding-right: 2px;
    vertical-align: top;
}

#nearestBV .distance:after {
    content: "km";
    padding-left: 1px;
}

#nearestBV .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}