@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium';
    src: url('../fonts/titillium/titillium-regular-webfont.eot');
    src: url('../fonts/titillium/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium/titillium-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkinsans';
	src: url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot');
	src: url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.woff') format('woff'),
	url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.ttf') format('truetype'),
	url('../fonts/sinkinsans/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'titillium', 'open_sansregular', "Helvetica Neue",Helvetica,Arial,sans-serif;
	}


#footer a {
	color: #777;
	}
#footer a:hover {
	text-decoration: none;
	color: #000;
	}

.ubigo-footer-seperator {
	margin: 5px;
	}

/* ubigo.at */

.mailintro {
    color: #666666;
    font-size: small;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    max-width: 600px;
    padding: 0 15px;
}

#footer #footer-icons {
    display: inline-block;
}

.non-public {
    display:none;
}

.toc {
   display:none;
}

body {
	background-color: #fff;
	}

/*
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #cbc9e2;
}
.navbar-default {
    background-color: #efe9f9;
    border-color: #cbc9e2;
}
*/

.navbar-default {
	background-color:#fff;
}

.navbar-default .navbar-brand {
	font-family:'montserrat';
	color:#dd2226;
}

a {
	color:#c02a2d;
}
a:focus, a:hover {
	color:#c02a2d;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
	color:#c02a2d;
}

.navbar-default .navbar-nav > li > a {
	color:#666;
	border-top:2px solid transparent;
	padding-top:13px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color:black;
	background-color:transparent;
	border-top:2px solid #dd2226;
}

#footer {
	background-color: #f1f1f1;
	}
	
#footer > div {
	display: inline-block;
}

.panel-primary > .panel-heading {
    background-color: #6a51a3;
    border-color: #6a51a3;
    text-align: center;
}
.panel-primary {
    border-color: #6a51a3;
}
.btn-primary {
    background-color: #6a51a3;
    border-color: #54278f;
}
.btn-primary:hover {
	  background-color: #54278f;
}

/* fixed sidebar */
@media (min-width:992px) {
	.sidebar-right-wrapper {
		position:fixed;
	}
}

/* RESTful API documentation */

.api-documentation .table > tbody > tr > th {
	padding:8px 15px;
	background-color:#f5f5f5;
	text-transform:uppercase;
	font-size:smaller;
}

.api-action {
	float:right;
	line-height:34px;
}

.api-documentation .mw-highlight {
	background-color:transparent;
}

.api-documentation pre {
	border:none;
	padding:0;
	padding-left:20px;
	border:none;
	background-color:transparent;
	margin:0;
}

/* SHARED AUTONOMY */
.sa-presse .sa-medium {
	color:#555;
	font-size:.9em;
}
.sa-presse h1 {
	margin-top:8px;
	font-weight:bold;
}
.sa-presse .sa-link {
	font-size:smaller;
}
.olControlScaleLine,
.olControlLayerSwitcher,
.olControlMousePosition {
	display:none !important;
}
.olControlAttribution {
	bottom:0 !important;
}
